*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #444;
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 2rem;
  line-height: 1.9;
}

h1, h2, h3, h4, p, li {
  font-family: sans-serif;
  color: #444;
}

h1 {
  color: #1098ad;
  font-size: 2.6rem;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-style: 4rem;
}

h3 {
  font-style: 3rem;
}

h4 {
  font-style: 2rem;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-style: 2.2rem;
  line-height: 1.5;
}

li {
  font-style: 2rem;
}

footer p {
  font-style: 1.6rem;
}

.main-header {
  background-color: #f8f8f8;
}

aside {
  background-color: #f8f8f8;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

h2, h3, h4 {
  color: #1098ad;  
}

#author {
  font-style: italic;
  font-size: 1.8rem;
  
}

#copyright {
  font-style: 1.6rem;
}

.related-author {
  font-size: 1.8rem;
  font-weight: bold;
  display: block;
}

.related {
  list-style: none;
}

li:last-child {
  font-style: italic;
}

li:nth-child(even) {
  /*font-weight: bold;*/
}

.navbar_items {
  list-style: none;
}
.navbar_link {
  display: inline-block;
  margin-right: 2rem;
}
.navbar_dropdown-link {
  /* display: none; */
}
  
/* -------------Link styling-------------- */
.related a:link {
  font-size: 2rem;
  font-weight: bold;
}

a:link {
  color: #1098ad;
  text-decoration: none;
}

a:visited {
  /* color: #777 */
  color: #1098ad;
}

a:hover {
  color: orangered;
  text-decoration: underline wavy orangered;
  font-weight: bold;
}

a:active {
  background-color: black;
  font-style: italic;
}
/* ----------LVHA-----------*/

/* ----------Resolving conflicts-----------*/
/* #copyright {
  color: red;
}

.copyright {
  color: blue;
}

.text {
  color: yellow;
}

footer p {
  color: green;
} */

nav {
  font-size: 1.8rem;
}
