*, 
::before,
::after {
  margin:0;
  padding:0;
  box-sizing:inherit;
}

html {
  font-size: 62.5%;
  box-sizing:border-box;
}

body{
  font-size: 1.4rem; 
  font-family: sans-serif;
  line-height: 1.4;
}

.container {
  width: 825px;
  margin: 5rem auto;
}

.card {
  border: 5px solid #222;
  position: relative;
}

.card-title {
  color: #222;
  background-color: #f7f7f7;
  text-transform: uppercase;
  text-align: center;
  padding: 1.5rem 0;
  /* margin: 1.5rem 0; */
}

.btn {
  outline: none;
  border: none;
  color: #222;
  font-size: 1.6rem;
}

.btn-info {
  text-decoration: underline;
  background-color: transparent;
  margin: 1.5rem 0 2rem 0;
  cursor: pointer;
}

.btn-info:link, .btn-info:visited {
  color: black;
}

.btn-info:hover, .btn-info:active {
  text-decoration: none; 
}

.right-arrow {
  
}

.btn-add-to-cart {
  /* position: absolute;
  bottom: 0;
  left: 0; */
  color: #fff;
  text-transform: uppercase;
  background-color: #000;
  padding: 1rem 2rem;
  width: 100%;

  grid-column: 1 / -1;
}

.btn-add-to-cart:hover {
  background-color: #fff;
  color: #000;
  border: 2px solid black;
}

.heading-4 {
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-weight: bolder;
}

.card-details {
  
}

.card-img {
  width: 25rem;
  height: 25rem;
}

.list_items {
  list-style: square;
  margin-left: 2rem;
  line-height: 1.9;
}

/* Badge */
.badge {
  padding: 1rem 2rem;
  text-transform: uppercase;
  outline: none;
  border: none;
  color: #fff;
  font-weight: bold;
}

.badge-danger-sale {
  background-color: red;
  letter-spacing: .3rem;
  position: absolute;
  top: -2.2rem;
  left: -5.5rem;
  font-size: 1.7rem;
}

/* ----------- Colors -------------*/


.color {
  width: 2.5rem;
  height: 2.5rem;
}

.color:last-child {

}

.color-black {
  background-color: black;
}

.color-blue {
  background-color: blue;
}

.color-red {
  background-color: red;
}

.color-yellow {
  background-color: yellow;
}

.color-green {
  background-color: green;
}

.color-brown {
  background-color: brown;
}

/* ------- CSS-GRID ------- */
.content {
  display: grid;
  grid-template-columns: 25rem 1fr 1fr;
  /* grid-template-rows: 1fr 5rem; */
  column-gap: 3rem;
}

.float_price-shipping {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.colors {
  display: flex;
  gap: 1.5rem;
}

.card-body {
  margin: 1.5rem 0;
  display: flex;

}

.card-price {
  font-weight: bolder;
  font-size: 2rem;
  margin-bottom: 0;
}

.free-shipping {
  display: block;
  color: #777;
  font-size: 1.2rem;
  text-transform: uppercase;
}

.card-description {
  font-size: 1.4rem;
}

.detail_center {
  flex: 1;
}
.card-details {
  margin-top: 2rem;
  flex: 1;
}