// index Page

h1, h2, h3, h4, p, li {
  font-family: sans-serif;
  color: $color-text-grey;
}

h1,
h2, 
h3 {
  color: $color-heading-primary;
}

h1 {
  font-size: 2.6rem;
  text-transform: uppercase;
  font-style: italic;
}

h2 {
  font-style: 4rem;
}

h3 {
  font-style: 3rem;
}

h4 {
  font-style: 2rem;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-style: 2.2rem;
  line-height: 1.5;
}

li {
  font-style: 2rem;
}

footer p {
  font-style: 1.6rem;
}

#author {
  font-style: italic;
  font-size: 1.8rem;
}

#copyright {
  font-style: 1.6rem;
}

.related-author {
  font-size: 1.8rem;
  font-weight: bold;
}

.related {
  list-style: none;
}


