.modal_buttons {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90vh;
  background-color: #000;
  box-shadow: 0 0 0 1rem rgba(0,0,0, .01);
  padding-top: 5rem;
  color: white;
}

.btn_close_modal-buttons {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  background: none;
  border: none;
  font-size: 3rem;
  font-weight: 600;
  cursor: pointer;
  color: #ffffff;
}

.btn_close_modal-buttons:hover {
  color: #e18802;
}

.buttons-modal {

}

.buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1rem;
  /* row-gap : 2rem; */
  padding: 2rem 1rem;
  background-color: #efefef;
  height: 100%;
  /* justify-content: center; */
}

.header_btnEl {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: orange;
  grid-column: 1 / -1;
  height: 7rem;
  margin-bottom: 2rem;
}

.header_btnEl .h1 {
  color: #222;
  margin-left: 1.5rem;
  font-size: 3.5rem;
  font-weight: 600;
}

.header_btnEl .type {
  margin-right: 1rem;
  padding: 0 2rem;
  font-size: 3.5rem;
  text-transform: uppercase;
  color: white;
  background-color: #222;
}

.btn_group{
  display: flex;
  flex-direction: column;
  gap: 2rem;

}
.btn_group-col--1 {

}

.btn_group-col--2 {

}

.btn_group-col--3 {

}

.btn_group-col--4 {

}

/* COLUMN 1 */

.row {
  background-color: white;
  padding: 2rem;
  display: flex;
  justify-content: center;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.1);
}

.row1-c1 {

}

.btn-add-to-cart {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: white;
  background-color:rgb(90, 188, 218);
  border: none;
  cursor: pointer;
  transition: all .3s;
}

.arrow-right-icon {
  width: 2rem;
  height: 2rem;
  
}

.row2-c1 {
  
}

.btn-free-consult {
  background-color: #000;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  border: none;
  outline: none;
  box-shadow: 1px 2px 4rem rgba(0,0,0, .01);
  cursor: pointer;
  transition: all .3s;
}
.row2-c1 .btn-free-consult:hover {
  background-color: #f0f0f0;
  color: #141414;
}

.arrow-right {
  width: 1.5rem;
  height: 1.5rem;
}

.row3-c1 {
  background-color: black;
}
.btn-floorplans {
  background-color: #f7c37f;
  border: none;
  outline: none;
  padding: 1.7rem 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  text-transform: uppercase;
  word-spacing: 2px;
  cursor: pointer;
  transition: all .3s;
}
.row3-c1 .btn-floorplans:hover {
  background-color: black;
  box-shadow: 0 0 0 2px #f7c37f;
  color: white;
}

.row4-c1 {

}

.btn-add-to-chrome {
  border: none;
  outline: none;
  background: linear-gradient(45deg,
  #2bbb95, #2da29e);
  color: white;
  font-size: 1.6rem;
  padding: 1.5rem 3.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all .5s;
}
.btn-add-to-chrome:hover {
  transform: scaleX(1.1);
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2)
}

.row5-c1 {

}

.btn-download-app {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: 1.5rem 3rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: #fbfbfb;
  border-radius: 1rem;
  border: none;
  outline: none;
  background-color: #0f8b5b;
  cursor: pointer;
  transition: all .3s;
}
.row5-c1 .btn-download-app:hover {
  background-color:#09ad6e;
}

.apple-icon {
  width: 1.5rem;
  height: 1.5rem;
}

/* COLUMN 2 */
.row1-c2 {

}

.btn-req-demo {
  border: none;
  outline: none;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  color: white;

  font-weight: 500;
  padding: 1.5rem 3rem;
  background-color: #017de3;
  box-shadow: 1px 3px 40px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all .3s;
}
.row1-c2 .btn-req-demo:hover {
  background-color:#0349aa
}

.row2-c2 {

}

.btn-get-started {
  border: none;
  outline: none;
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  font-size: 1.6rem;
  color: white;

  font-weight: 600;
  padding: 2rem 4.5rem;
  background-color: #020796;
  box-shadow: .5rem 1rem 3rem rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all .3s;
}
.row2-c2 .btn-get-started:hover {
  background-color: #1a21f7;
}

.row3-c2 {

}

.btn-req-demo-red {
  border: none;
  outline: none;
  border-radius: 10rem;
  font-size: 1.4rem;
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  padding: 1rem 2.5rem;
  background-color: #c50303;
  box-shadow: .5rem 0 4rem rgba(244, 130, 130);
  cursor: pointer;
  transition: all .3s;
}
.row3-c2 .btn-req-demo-red:hover {
  background-color: #8e1414
}

.row4-c2 {
  background-color:#afddeb
}

.btn-subscribe {
  border: none;
  outline: none;
  border-radius: 10rem;
  padding: 1.5rem 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  background: none;
  box-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.2);
  outline: 2px solid #222;
  cursor: pointer;
  transition: all .3s;
}
.row4-c2 .btn-subscribe:hover {
  
}

.row5-c2 {
  background-color: #010;
}

.btn-learn-more {
  border: none;
  outline: none;
  /* border-radius: 10rem; */
  padding: 1.5rem 2rem;
  font-size: 1.8rem;
  font-weight: 600;
  color: #efefef;
  background: none;
  box-shadow: 0 .5rem 1.5rem rgba(255, 255, 255, 0.2);
  outline: 2px solid #777;
  cursor: pointer;
  transition: all .3s;
}
.row5-c2 .btn-learn-more:hover {
  color: #222;
  background-color: #777;
}

/* COLUMN 3 */
.row1-c3 {
  display: flex;
  justify-items: center;
  gap: .5rem;
  flex-shrink: 1;
  background: linear-gradient(165deg,
    #8a8080, #8f6e6e, #b89191,
    #8a8080, #8f6e6e, #b89191,
    #8a8080, #8f6e6e, #b89191
  )
}

.btn-shop-mat {
  border: 1px solid #ccc;
  outline: none;
  padding: 1.5rem 1.5rem;
  background-color: #07aeb4;
  text-transform: uppercase;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
  color: #fff;
  transition: all .3s;
  cursor: pointer;
}
.row1-c3 .arrow-right-icon {
  width: 2rem;
  height: 2rem;
  font-size: 1.2rem;
}

.btn-watch-video {
  border: 1px solid #ccc;
  outline: none;
  padding: 1.5rem 1.5rem;
  background: none;
  transition: all .3s;
  cursor: pointer;
}

.row2-c3 {
  display: flex;
  align-items: center;
  gap: 1rem;
  background: linear-gradient(45deg,
  #eee, #f2f2f2);
}

.btn-try-for-free {
  border: 1px solid #936d5f;
  outline: none;
  background-color: orangered;
  border-radius: .4rem;
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #f3f3f3;
  cursor: pointer;
  transition: all .3s;
}
.row2-c3 .btn-try-for-free:hover {
  background-color: #fff;
  color: #222;
}

.btn-see-pricing {
  border: 1px solid #936d5f;
  outline: none;
  background-color: #fff;
  border-radius: .4rem;
  padding: 1.5rem 2rem;
  font-size: 1.6rem;
  color: #444;
  font-weight: 600;
  cursor: pointer;
  transition: all .3s;
}
.row2-c3 .btn-see-pricing:hover {
  background-color: orangered;
  color: #eee;
}

.row3-c3 {

}

.btn-free-trial {

}

.btn-talk-to-us {

}

.row4-c3 {

}

.btn-login {

}

.btn-try-it-free {

}

.row5-c3 {

}

.btn-go-to-file {

}

.btn-download-code {

}

.download-icon {

}

.caret_down-icon {

}


/* COLUMN 4 */
.row1-c4 {

}

.btn-try-now {

}

.price {

}

.btn-view-pro-details {

}

.row2-c4 {

}

.btn-ship-here {

}

.row_btns {

}

.btn-edit {

}

.btn-delete {

}

.trash-icon {

}

.row3-c4 {

}

.btn-move-to-cart {

}

.cart-icon {

}

.btn-move-to-favorites {

}

.favorite-icon {

}

.btn-remove {

}

.trash-icon {

}


