*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #444;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  line-height: 1.9;
  border-top: 1rem solid #1098ad;
  display: flex;
  justify-content: center;
}

/* ------- TABLE STYLING ---------*/
table {
  width: 80rem;
  margin: 10rem;
  font-size: 1.8rem;
  /* border: 1px solid #343a40; */
  border-collapse: collapse;
}

tr {

}

td,
th {
  /* border: 1px solid #343a40; */
  padding: 1.6rem 2.4rem;
}

thead th {
  color: white;
  background-color: #099268;
  width: 25%;
  text-transform: capitalize;
}

tbody th {
  text-transform: capitalize;
}

tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}

tbody tr:nth-child(odd) {
  background-color: #e9ecef;
}