<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays the site properly based on the user's device-->

    <link rel="stylesheet" href="../../css/layouts.css" />

    <title>HTML-CSS Basics</title>
  </head>
  <body>
    <div class="container">
      <header class="main-header">
        <h1 class="logo">📘 TimDev</h1>
        <nav class="navbar">
          <ul class="navbar_items">
            <li class="navbar_link"><a href="pages/portfolio.html">Portfolio</a></li>
            <li class="navbar_link"><a href="pages/blog.html">Blog</a></li>
            
            <li class="navbar_link"><a href="pages/challenges/index.html">Challenges</a>
              <ul class="navbar_items navbar_dropdown">
                <li class="navbar_dropdown-link"><a href="pages/challenges/float.html">#1 Float</a></li>
                <li class="navbar_dropdown-link"><a href="pages/challenges/flexbox.html">#2 Flexbox</a></li>
  
                <li class="navbar_dropdown-link"><a href="pages/challenges/css-grid.html">#3 CSS Grid</a></li>
              </ul>
            </li>
            <li class="navbar_link"><a href="pages/challenges/index.html">Layouts</a>
            </li>
            <li class="navbar_link"><a href="pages/html.html">HTML</a></li>
            <li class="navbar_link"><a href="pages/html.html">CSS</a></li>
            <li class="navbar_link"><a href="pages/javascript.html">Javascript</a></li>
          </ul>
        </nav>
      </header>


    </div>

    <footer class="footer">

    </footer>
    <script defer src="js/layouts.js"></script>
  </body>
</html>